<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/products}">
        Back to product list
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<div id="form">
    <form action="#" th:action="@{/products/edit}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input th:type="hidden" name="id" th:field="*{id}">
        <div>
            <label>Name:</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price:</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <div>
            <label>Quantity:</label>
            <input type="text" th:field="*{quantity}"/>
        </div>
        <div>
            <label>Color:</label>
            <input type="text" th:field="*{color}"/>
        </div>
        <div>
            <label>Category:</label>

                <select th:field="*{category}">
                    <option th:each="c : ${categories}"
                            th:value="${c.id}" th:text="${c.name}"></option>
                </select>
<!--            <select name="category">-->
<!--                <option th:each="c : ${categories}"-->
<!--                        th:value="${c.id}"-->
<!--                        th:text="${c.name}"-->
<!--                        th:selected="(${product.category}) and (${c.id} == ${product.category.id})"></option>-->
<!--                &lt;!&ndash;                    Việc dùng thẻ th:selected sẽ trỏ ra giá trị hiện tại của product muốn sửa thông tin&ndash;&gt;-->
<!--                &lt;!&ndash;                    th:selected ko làm việc với *field , phải dùng name đặt cho select &ndash;&gt;-->
<!--            </select>-->

        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>