<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Products</h3>
<p>
<p>
    <a th:href="@{/products/create-product}">
        Create new product
    </a>
</p>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Color</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.color}"></td>
        <td th:if="${product.category}" th:text="${product.category.name}"></td>
        <td th:unless="${product.category}"></td>
        <td><a th:href="@{/products/edit/__${product.id}__ }">Edit</a></td>
        <td><a th:href="@{/products/delete/__${product.id}__ } "
               onclick="return confirm('Are you sure?')">Delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>